body {
  background-color: #f8e8a6;
}
h1 {
  text-align: center;
  margin-top: 30px;
}
.links {
  display: block;
  text-align: center;
}

.links a {
  color: green;
  margin-right: 30px;
}
.croissant-image {
  display: block;
  margin: auto;
}
